.parent{
    width: 1300px;
    height: auto;
    background-color: aquamarine;
}
.fixed{
    position: fixed;
    height:300px;
    width:300px;
    border:2px solid blue;
    background-color: red;;
    left:500px
}
.static{
    position: static;
    height: 200px;
    width:200px;
    border: 2px solid red;
    background-color: blueviolet;
    top:500px;
}
.absolute{
    position: absolute;
    height: 400px;
    width:300px;
    background-color: bisque;
    top:300px;
    left:300px;
}
.relative{
    position: relative;
    height: 200px;
    width: 300px;
    border: 2px solid black;
    background-color: green;
    top:50px;
    right:0px;
}
.sticky{
    position: sticky;
    height:100px;
    width: 100px;
    top:100px;
    border: 2px dotted yellow;
    background-color: pink;
}