.hero{
    height: 400px;
    width: 1300px;
    background-color: rgb(150, 135, 118);
    margin:0px;
    display:flex;
    justify-content:left;
    align-items: center;
    color:aliceblue;
}
.ad{
    height:100px;
    width:300px;
    background-color: brown;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top:300px;
    left:500px;
}

