.div1{
    height: 40px;
    width: 1350px;
    background-color: white;
    font-size: 30px;
    color: salmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}
.div1 h1{
    font-size: 30px;
    margin: 0%;
    z-index: 0;
}
.div2{
    width:0px;
    height: 40px;
    position: absolute;
    z-index: 1;
    background-color: salmon;
}
.div1:hover .div2{
    width: 1350px;
    transition: 0.5s ease-in;
}

.con{
    width:900px;
    height: 500px;
    border: 3px solid black;
    display: flex;
    position: relative;
}
.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: skyblue;
    position: absolute;
    animation: ballAnime 4s ease-in-out infinite alternate;
}
@keyframes ballAnime{
    0%{
        margin-top: 0px;
        margin-left: 0px;
        width: 100px;
        height: 100px;
        background-color: skyblue;
    }
    25%{
        margin-top: 410px;
        margin-left: 200px;
        width: 110px;
        height: 90px;
        background-color: salmon;
    }
    50%{
        margin-top: 0px;
        margin-left: 400px;
        width: 100px;
        height: 100px;
        background-color: sandybrown;
    }
    75%{
        margin-top: 410px;
        margin-left: 600px;
        width: 110px;
        height: 90px;
        background-color: salmon;
    }
    100%{
        margin-top: 0px;
        margin-left: 800px;
        width: 100px;
        height: 100px;
        background-color: skyblue;
    }
}

.bla{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.hole{
    width:370px;
    height: 190px;
    border-radius: 100%;
    background-image: linear-gradient(rgb(255, 115, 0), rgb(233, 197, 38), rgb(255, 115, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner1{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner2{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid rgb(255, 115, 0);
}