.bla{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.hole{
    width:450px;
    height: 185px;
    border-radius: 100%;
    animation: blackholeEffect 10s ease-in infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes blackholeEffect{
    0%{
        background-image: radial-gradient(rgb(236, 218, 135),rgb(255, 115, 1));
    }
    50%{
        background-image: radial-gradient(rgb(255, 115, 1),rgb(236, 218, 135));
    }
    100%{
        background-image: radial-gradient(rgb(236, 218, 135),rgb(255, 115, 1));
    }
}
.inner1{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner2{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid rgb(255, 115, 0);
}

.sq{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    animation: radial 15s ease-in infinite;
}
@keyframes radial{
    0%{
        background-image: radial-gradient(red,yellow,green,blue);
    }25%{
        background-image: radial-gradient(yellow,green,blue,red);
    }50%{
        background-image: radial-gradient(green,blue,red,yellow);
    }75%{
        background-image: radial-gradient(blue,red,yellow,green);
    }100%{
        background-image: radial-gradient(red,yellow,green,blue);
    }
}
.sq1{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-image: conic-gradient(red,yellow,green,blue,red);
}
.sq1:hover{
    animation: rotate 5s ease infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
