.container{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    position: relative;
}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 500%;
    background-color: lightblue;
    position: absolute;
    left: 42%;
    transition: 1s ease-in-out;
}
.ball:hover{
    transform: translate(0px,238px) rotate(90deg) scale(1.5);
    transition: 0.75s ease-in-out 0.15s;
    background-color: red;
}
.batman{
    width: 300px;
    margin-top: 20px;
    margin-left: 2px;
}
.batman:hover{
    transform: scale(1,-1);
    transition: 0.5s ease-in-out;
}
.container1{
    width: 300px;
    height: 300px;
    border: 5px solid black;
    position: relative;
}
.ball1{
    width: 100px;
    height: 100px;
    top:30%;
    background-color: blue;
    position: absolute;
    transition: 1s ease-in-out;
}
.ball1:hover{
    transform: translate(100px) scale(2);
    transition: 2s ease-in-out;
    background-color: green;
}