
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Yarndings+20&display=swap');

.p1{
    height:300px;
    width:500px;
    font-size: 25px;
    font-family:"Bitcount Grid Single", system-ui;
    font-weight: 800;
    font-style:italic;
    font-variant: inherit;
    border: 10px dashed gray;
    border-radius: 20px;
    border-style: solid dashed dotted double;
    border-color: rosybrown royalblue forestgreen seagreen;
    box-sizing: border-box;
}

.p2{
    font-size: 25px;
    font-family:"Yarndings 20", system-ui;
    font-weight: 800;
    font-style:italic;
    font-variant: inherit;
    border:20px dotted plum;
    border-radius: 50px;
    margin-left:100px;
    padding-top: 50px;
    box-shadow: 10px 10px 10px plum;
}

button{
    width: 300px;
    height: 150px;
    background-color: rgb(47, 47, 230);
    font-size: 40px;
    color:azure;
    border-radius: 50px;
}
button:hover{
    background-color: azure;
    color: rgb(47, 47, 230);
    transition: 0.20s ease-in;
    border: 3px solid rgb(47, 47, 230);
}
button:active{
    background-color: rgb(47, 47, 230);
    color: azure;
    transition: 0.10s ease-in;
}

a{
    width: 140px;
    height: 60px;
    font-size: 50px;
    text-decoration: none;
}
a:link{
    color: rgb(53, 206, 206);
    background-color: white;
}
a:hover{
    background-color: rgb(53, 206, 206);
    color:white;
    transition: 0.5s ease-in;
}
a:visited{
    background-color: white;
    color: rgb(53, 206, 206);
}
#div1{
    width:600px;
    height: 60px;
    background-color: aqua;
    font-size: 50px;
}
input{
    font-size: 30px;
}
input:focus{
    background-color: aqua;
    color:white;
}
ul{
    font-size: 30px;
}
ul li:nth-child(2){
    color:red;
    font-weight: bold;
}ul li:not(.special){
    background-color: aqua;
    font-style: italic;
}